.navabrdroite{
    display: flex;
    gap: 30px;
}

.navabrdroite h2{
    font-size: 15px;
}

.navbar{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.logo img{
    width: 150px;
}

.navabrdroite button{
    border-radius: 10px;
    background-color: white;
    padding: 10px 20px;

}

.navabrdroite button:hover{
    background-color: #e91919;
    cursor: pointer;
    color: white;
    transition: 0.5s ease-in-out;
    border: none;
}

*{
    font-family: 'Poppins', sans-serif;
}

.section1{
    display: flex;
    justify-content: space-around;
    padding-top: 50px;
}

.section1droite img{
    width: 300px;
}

.section1gauche{
    width: 40%;
}

.section1droite{
    width: 40%;
}

.section211{
    width: 500px;
    height: 300px;
    background-color: #F3F3F3;
    border-radius: 20px;
    box-shadow: -1px 7px 1px 1px black;}

    .section211{
        display: flex;
    }

    .divenfnant{
        display: flex;
        gap: 20px;
        align-items: center;
    }

    .section211gauche h1{
        background-color: #B9FF66;
        margin: 0;
        border-radius: 5px;
        width: max-content;
        padding: 0 10px;
    }

    .section211gauche{
        display: flex;
        flex-direction: column;
justify-content: space-around;
        padding-left: 30px;


    }

    .section21{
        display: flex;
        gap: 30px;
    }


    .section211droite{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        width: 50%;
        padding: 10px;
    }