.navabrdroite{
    display: flex;
    gap: 30px;
}

.navabrdroite h2{
    font-size: 15px;
}

.navbar{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.logo img{
    width: 150px;
}

.navabrdroite button{
    border-radius: 10px;
    background-color: white;
    padding: 10px 20px;

}

.navabrdroite button:hover{
    background-color: #e91919;
    cursor: pointer;
    color: white;
    transition: 0.5s ease-in-out;
    border: none;
}

*{
    font-family: 'Poppins', sans-serif;
}

.section1{
    display: flex;
    justify-content: space-around;
    padding-top: 50px;
}

.section1droite img{
    width: 300px;
}

.section1gauche{
    width: 40%;
}

.section1droite{
    width: 40%;
}